/*
 * YtelAPIV3.Standard
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Newtonsoft.Json.Converters;
using YtelAPIV3.Standard;
using YtelAPIV3.Standard.Utilities;
using YtelAPIV3.Standard.Http.Request;
using YtelAPIV3.Standard.Http.Response;
using YtelAPIV3.Standard.Http.Client;
using YtelAPIV3.Standard.Exceptions;

namespace YtelAPIV3.Standard.Controllers
{
    public partial class AddressController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static AddressController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static AddressController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new AddressController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// To delete Address to your address book
        /// </summary>
        /// <param name="addressid">Required parameter: The identifier of the address to be deleted.</param>
        /// <return>Returns the string response from the API call</return>
        public string CreateDeleteAddress(string addressid)
        {
            Task<string> t = CreateDeleteAddressAsync(addressid);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// To delete Address to your address book
        /// </summary>
        /// <param name="addressid">Required parameter: The identifier of the address to be deleted.</param>
        /// <return>Returns the string response from the API call</return>
        public async Task<string> CreateDeleteAddressAsync(string addressid)
        {
            //the base uri for api requests
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/address/deleteaddress.json");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" }
            };

            //append form/field parameters
            var _fields = new List<KeyValuePair<string, Object>>()
            {
                new KeyValuePair<string, object>( "addressid", addressid )
            };
            //remove null parameters
            _fields = _fields.Where(kvp => kvp.Value != null).ToList();

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Post(_queryUrl, _headers, _fields, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return _response.Body;
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Validates an address given.
        /// </summary>
        /// <param name="addressid">Required parameter: The identifier of the address to be verified.</param>
        /// <return>Returns the string response from the API call</return>
        public string CreateVerifyAddress(string addressid)
        {
            Task<string> t = CreateVerifyAddressAsync(addressid);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Validates an address given.
        /// </summary>
        /// <param name="addressid">Required parameter: The identifier of the address to be verified.</param>
        /// <return>Returns the string response from the API call</return>
        public async Task<string> CreateVerifyAddressAsync(string addressid)
        {
            //the base uri for api requests
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/address/verifyaddress.json");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" }
            };

            //append form/field parameters
            var _fields = new List<KeyValuePair<string, Object>>()
            {
                new KeyValuePair<string, object>( "addressid", addressid )
            };
            //remove null parameters
            _fields = _fields.Where(kvp => kvp.Value != null).ToList();

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Post(_queryUrl, _headers, _fields, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return _response.Body;
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// View Address Specific address Book by providing the address id
        /// </summary>
        /// <param name="addressid">Required parameter: The identifier of the address to be retrieved.</param>
        /// <return>Returns the string response from the API call</return>
        public string CreateViewAddress(string addressid)
        {
            Task<string> t = CreateViewAddressAsync(addressid);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// View Address Specific address Book by providing the address id
        /// </summary>
        /// <param name="addressid">Required parameter: The identifier of the address to be retrieved.</param>
        /// <return>Returns the string response from the API call</return>
        public async Task<string> CreateViewAddressAsync(string addressid)
        {
            //the base uri for api requests
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/address/viewaddress.json");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" }
            };

            //append form/field parameters
            var _fields = new List<KeyValuePair<string, Object>>()
            {
                new KeyValuePair<string, object>( "addressid", addressid )
            };
            //remove null parameters
            _fields = _fields.Where(kvp => kvp.Value != null).ToList();

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Post(_queryUrl, _headers, _fields, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return _response.Body;
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// List All Address 
        /// </summary>
        /// <param name="page">Optional parameter: The page count to retrieve from the total results in the collection. Page indexing starts at 1.</param>
        /// <param name="pagesize">Optional parameter: How many results to return, default is 10, max is 100, must be an integer</param>
        /// <param name="addressid">Optional parameter: addresses Sid</param>
        /// <param name="dateCreated">Optional parameter: date created address.</param>
        /// <return>Returns the string response from the API call</return>
        public string CreateListAddresses(
                int? page = null,
                int? pagesize = null,
                string addressid = null,
                string dateCreated = null)
        {
            Task<string> t = CreateListAddressesAsync(page, pagesize, addressid, dateCreated);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// List All Address 
        /// </summary>
        /// <param name="page">Optional parameter: The page count to retrieve from the total results in the collection. Page indexing starts at 1.</param>
        /// <param name="pagesize">Optional parameter: How many results to return, default is 10, max is 100, must be an integer</param>
        /// <param name="addressid">Optional parameter: addresses Sid</param>
        /// <param name="dateCreated">Optional parameter: date created address.</param>
        /// <return>Returns the string response from the API call</return>
        public async Task<string> CreateListAddressesAsync(
                int? page = null,
                int? pagesize = null,
                string addressid = null,
                string dateCreated = null)
        {
            //the base uri for api requests
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/address/listaddress.json");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" }
            };

            //append form/field parameters
            var _fields = new List<KeyValuePair<string, Object>>()
            {
                new KeyValuePair<string, object>( "page", page ),
                new KeyValuePair<string, object>( "pagesize", pagesize ),
                new KeyValuePair<string, object>( "addressid", addressid ),
                new KeyValuePair<string, object>( "dateCreated", dateCreated )
            };
            //remove null parameters
            _fields = _fields.Where(kvp => kvp.Value != null).ToList();

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Post(_queryUrl, _headers, _fields, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return _response.Body;
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// To add an address to your address book, you create a new address object. You can retrieve and delete individual addresses as well as get a list of addresses. Addresses are identified by a unique random ID.
        /// </summary>
        /// <param name="name">Required parameter: Name of user</param>
        /// <param name="address">Required parameter: Address of user.</param>
        /// <param name="country">Required parameter: Must be a 2 letter country short-name code (ISO 3166)</param>
        /// <param name="state">Required parameter: Must be a 2 letter State eg. CA for US. For Some Countries it can be greater than 2 letters.</param>
        /// <param name="city">Required parameter: City Name.</param>
        /// <param name="zip">Required parameter: Zip code of city.</param>
        /// <param name="description">Optional parameter: Description of addresses.</param>
        /// <param name="email">Optional parameter: Email Id of user.</param>
        /// <param name="phone">Optional parameter: Phone number of user.</param>
        /// <return>Returns the string response from the API call</return>
        public string CreateAddress(
                string name,
                string address,
                string country,
                string state,
                string city,
                string zip,
                string description = null,
                string email = null,
                string phone = null)
        {
            Task<string> t = CreateAddressAsync(name, address, country, state, city, zip, description, email, phone);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// To add an address to your address book, you create a new address object. You can retrieve and delete individual addresses as well as get a list of addresses. Addresses are identified by a unique random ID.
        /// </summary>
        /// <param name="name">Required parameter: Name of user</param>
        /// <param name="address">Required parameter: Address of user.</param>
        /// <param name="country">Required parameter: Must be a 2 letter country short-name code (ISO 3166)</param>
        /// <param name="state">Required parameter: Must be a 2 letter State eg. CA for US. For Some Countries it can be greater than 2 letters.</param>
        /// <param name="city">Required parameter: City Name.</param>
        /// <param name="zip">Required parameter: Zip code of city.</param>
        /// <param name="description">Optional parameter: Description of addresses.</param>
        /// <param name="email">Optional parameter: Email Id of user.</param>
        /// <param name="phone">Optional parameter: Phone number of user.</param>
        /// <return>Returns the string response from the API call</return>
        public async Task<string> CreateAddressAsync(
                string name,
                string address,
                string country,
                string state,
                string city,
                string zip,
                string description = null,
                string email = null,
                string phone = null)
        {
            //the base uri for api requests
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/address/createaddress.json");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" }
            };

            //append form/field parameters
            var _fields = new List<KeyValuePair<string, Object>>()
            {
                new KeyValuePair<string, object>( "Name", name ),
                new KeyValuePair<string, object>( "Address", address ),
                new KeyValuePair<string, object>( "Country", country ),
                new KeyValuePair<string, object>( "State", state ),
                new KeyValuePair<string, object>( "City", city ),
                new KeyValuePair<string, object>( "Zip", zip ),
                new KeyValuePair<string, object>( "Description", description ),
                new KeyValuePair<string, object>( "email", email ),
                new KeyValuePair<string, object>( "Phone", phone )
            };
            //remove null parameters
            _fields = _fields.Where(kvp => kvp.Value != null).ToList();

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Post(_queryUrl, _headers, _fields, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return _response.Body;
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 