/*
 * YtelAPIV3.Standard
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Newtonsoft.Json.Converters;
using YtelAPIV3.Standard;
using YtelAPIV3.Standard.Utilities;
using YtelAPIV3.Standard.Http.Request;
using YtelAPIV3.Standard.Http.Response;
using YtelAPIV3.Standard.Http.Client;
using YtelAPIV3.Standard.Exceptions;

namespace YtelAPIV3.Standard.Controllers
{
    public partial class SubAccountController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static SubAccountController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static SubAccountController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new SubAccountController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// Suspend or unsuspend
        /// </summary>
        /// <param name="subAccountSID">Required parameter: The SubaccountSid to be activated or suspended</param>
        /// <param name="mActivate">Required parameter: 0 to suspend or 1 to activate</param>
        /// <return>Returns the string response from the API call</return>
        public string CreateToggleSubaccountStatus(string subAccountSID, Models.MActivateEnum mActivate)
        {
            Task<string> t = CreateToggleSubaccountStatusAsync(subAccountSID, mActivate);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Suspend or unsuspend
        /// </summary>
        /// <param name="subAccountSID">Required parameter: The SubaccountSid to be activated or suspended</param>
        /// <param name="mActivate">Required parameter: 0 to suspend or 1 to activate</param>
        /// <return>Returns the string response from the API call</return>
        public async Task<string> CreateToggleSubaccountStatusAsync(string subAccountSID, Models.MActivateEnum mActivate)
        {
            //the base uri for api requests
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/user/subaccountactivation.json");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" }
            };

            //append form/field parameters
            var _fields = new List<KeyValuePair<string, Object>>()
            {
                new KeyValuePair<string, object>( "SubAccountSID", subAccountSID ),
                new KeyValuePair<string, object>( "mActivate", (int)(mActivate) )
            };
            //remove null parameters
            _fields = _fields.Where(kvp => kvp.Value != null).ToList();

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Post(_queryUrl, _headers, _fields, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return _response.Body;
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Delete sub account or merge numbers into parent
        /// </summary>
        /// <param name="subAccountSID">Required parameter: The SubaccountSid to be deleted</param>
        /// <param name="mergeNumber">Required parameter: 0 to delete or 1 to merge numbers to parent account.</param>
        /// <return>Returns the string response from the API call</return>
        public string CreateDeleteSubaccount(string subAccountSID, Models.MergeNumberEnum mergeNumber)
        {
            Task<string> t = CreateDeleteSubaccountAsync(subAccountSID, mergeNumber);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Delete sub account or merge numbers into parent
        /// </summary>
        /// <param name="subAccountSID">Required parameter: The SubaccountSid to be deleted</param>
        /// <param name="mergeNumber">Required parameter: 0 to delete or 1 to merge numbers to parent account.</param>
        /// <return>Returns the string response from the API call</return>
        public async Task<string> CreateDeleteSubaccountAsync(string subAccountSID, Models.MergeNumberEnum mergeNumber)
        {
            //the base uri for api requests
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/user/deletesubaccount.json");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" }
            };

            //append form/field parameters
            var _fields = new List<KeyValuePair<string, Object>>()
            {
                new KeyValuePair<string, object>( "SubAccountSID", subAccountSID ),
                new KeyValuePair<string, object>( "MergeNumber", (int)(mergeNumber) )
            };
            //remove null parameters
            _fields = _fields.Where(kvp => kvp.Value != null).ToList();

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Post(_queryUrl, _headers, _fields, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return _response.Body;
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Create a sub user account under the parent account
        /// </summary>
        /// <param name="firstName">Required parameter: Sub account user first name</param>
        /// <param name="lastName">Required parameter: sub account user last name</param>
        /// <param name="email">Required parameter: Sub account email address</param>
        /// <param name="friendlyName">Required parameter: Descriptive name of the sub account</param>
        /// <param name="password">Required parameter: The password of the sub account.  Please make sure to make as password that is at least 8 characters long, contain a symbol, uppercase and a number.</param>
        /// <return>Returns the string response from the API call</return>
        public string CreateSubaccount(
                string firstName,
                string lastName,
                string email,
                string friendlyName,
                string password)
        {
            Task<string> t = CreateSubaccountAsync(firstName, lastName, email, friendlyName, password);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Create a sub user account under the parent account
        /// </summary>
        /// <param name="firstName">Required parameter: Sub account user first name</param>
        /// <param name="lastName">Required parameter: sub account user last name</param>
        /// <param name="email">Required parameter: Sub account email address</param>
        /// <param name="friendlyName">Required parameter: Descriptive name of the sub account</param>
        /// <param name="password">Required parameter: The password of the sub account.  Please make sure to make as password that is at least 8 characters long, contain a symbol, uppercase and a number.</param>
        /// <return>Returns the string response from the API call</return>
        public async Task<string> CreateSubaccountAsync(
                string firstName,
                string lastName,
                string email,
                string friendlyName,
                string password)
        {
            //the base uri for api requests
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/user/createsubaccount.json");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" }
            };

            //append form/field parameters
            var _fields = new List<KeyValuePair<string, Object>>()
            {
                new KeyValuePair<string, object>( "FirstName", firstName ),
                new KeyValuePair<string, object>( "LastName", lastName ),
                new KeyValuePair<string, object>( "Email", email ),
                new KeyValuePair<string, object>( "FriendlyName", friendlyName ),
                new KeyValuePair<string, object>( "Password", password )
            };
            //remove null parameters
            _fields = _fields.Where(kvp => kvp.Value != null).ToList();

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Post(_queryUrl, _headers, _fields, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return _response.Body;
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 